@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html{
    line-height: 1.15;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

p, hr, h1, h2, h3, h4, h5{
    margin: 0;
    padding: 0;
}

hr{
    border: 1px solid currentColor;
}

header{
    z-index: 100;
    position: sticky;
    top: 0;
    left: 0;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
}

form{
    display: flex;
    flex-direction: column;
}

.image-def-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
}

#eyes{
    right: 5%;
    cursor: pointer;
}

.button-image-default{
    position: absolute;
    z-index: 2;
    bottom: 1rem;
    right: 7rem;
}

.modal-dialogs{
    width: 24rem;
}

.modal-headers{
    border-bottom: none;
    padding-bottom: 0rem;
}

.back{
    background-color: transparent;
    border: none;
    opacity: 0;
}

.wrapper-signin{
    position: relative;
    min-height: 8rem;
    overflow-x: hidden;
}

.uName, .pass{
    gap: 0.5rem;
    position: absolute;
    width: calc(100% - 10px);
    top: 0.5rem;
    transition: 0.4s all ease;
}
.errLogin{
    font-size: 12px;
}
.left{
    transform: translateX(28rem);
}

.now{
    transform: translate(0);
}

.right{
    transform: translateX(-28rem);
}

.hide{
    display: none;
}

.show{
    display: block !important;
}

.icon_user{
    width: 1.5rem;
    border-radius: 100%;
}

.wrapper-search{
    width: 70%;
}

.w-16{
    width: 16rem;
}

.w-24{
    min-width: 24rem;
}

.w-8{
    width: 8rem;
}

.h-16{
    height: 16rem;
}

.h-24{
    min-height: 24rem;
}

.w-75{
    z-index: 1;
}
.w-32{
    width: 32rem;
}

.w-30{
    width: 30rem;
}

.w-2{
    width: 2.5rem;
}

.h-2{
    height: 2.5rem;
}

/* MODAL BUATAN SENDIRI */

.bgModal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 4;
    display: none;
}

.cardModal{
    position: relative;
    background-color: white;
    z-index: 8;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    border-radius: 0.3rem;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-20rem; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-20rem; opacity:0}
    to {top:0; opacity:1}
}

.contentModal{
    padding: 1.5rem;
}

.gap-8{
    gap: 4rem;
}

.opacOn{
    opacity: 1;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opacOff{
    opacity: 0;
    z-index: -4;
    transition: 0.3s;
    display: none;
}

.btp{
    border-top: 1px solid #dee2e6;
}

.bbm{
    border-bottom: 1px solid #dee2e6;
}

table{
    max-width: 100%;
    background-color: #212529;
    color: white;
}

thead tr{
    border-bottom: 1px solid white;
}

.text{
    max-width: 24rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

th, td{
    padding: 1rem 0.5rem;
}

#table-produk tbody{
    max-height: 24rem;
    overflow-y: scroll;
}

#hapus, #edit{
    display: none;
}

.show-data tr:nth-child(odd){
    box-shadow: inset 0 0 0 9999px #2c3034;
}

.page-item:not(.disabled){
    cursor: pointer;
}

.fa-star{
    color: #ffd700;
}

.card-text{
    text-align: start;
}

.card-title{
    margin: 0%;
}

.gap-12{
    gap: 8rem;
}

/* BUTTON QTY */

.inline-group {
    max-width: 9rem;
    padding: .5rem;
}

.inline-group .form-control {
text-align: right;
}

.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-control[type=number] {
    -moz-appearance: textfield;
}


/* BUTTON QTY */

#body{
    min-height: 18rem;
    background-color: #F7F7F7;
}

.body-homepage{
    position: relative;
}

.body-homepage::before{
    content: '';
    position: absolute;
    background: linear-gradient(90deg, rgba(13,110,253,1) 0%, rgba(12,87,199,1) 100%);
    width: 100%;
    height: 18rem;
    top: 0;
    left: 0;
}

#carousel{
    overflow: hidden;
}

#imgProd{
    transition: 0.4s;
    min-width: none;
}

.cards-container{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    overflow: hidden;
    height: 18rem;
    box-sizing: border-box;
    position: relative;
    background-color: white;
}

.cards-group{
    flex-wrap: nowrap;
}

.cards{
    flex: 0 0 20%;
}

.cards :only-child{
    height: 16rem;
}

.prev-recent, .next-recent, .prev-more, .next-more{
    height: 4rem;
    width: 4rem;
    position: absolute;
    z-index: 3;
    border-radius: 4rem;
    background-color: white;
    border: none;
    filter: opacity(0.6);
}

.prev-recent, .prev-more{
    left: 1.8rem;
}

.next-recent, .next-more{
    right: 1.8rem;
}

.prev-recent:hover, .next-recent:hover, .prev-more:hover, .next-more:hover{
    filter: opacity(1);
    transition: .15s ease-in-out;
}

#recent, #more-stuff{
    transition: 0.6s;
}

.form-control:focus, .btn:focus {
    outline: none;
    box-shadow: none;
}

#footer{
    padding: 0rem 8rem;
    box-shadow: 0 -0.125rem .25rem rgba(0,0,0,.075);
}

.column{
    flex: 1;
}

#image-footer .fab{
    font-size: 3.5rem;
}

#logo-footer :first-child{
    background-color: #0d6efd;
    font-weight: bold;
    color: white;
    padding: .25rem 1rem;
    border-radius: .25rem;
}

.shadow-card{
    box-shadow: 0 0 .25rem rgba(0,0,0,.075);
}

.list-category{
    margin: 0;
    list-style-type: none;
    padding: 0;
}

#section-kategori{
    height: fit-content;
}

#section-show-produk{
    height: fit-content;
}

/* SLIDER */

.container-slider{
    position: relative;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
}

input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 95%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background: transparent;
    pointer-events: none;
    z-index: 0;
}

.slider-track{
    width: 95%;
    height: 5px;
    background-color: #d5d5d5;
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    margin: auto;
}

input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}

input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #0d6efd;
    cursor: pointer;
    border-radius: 50%;
    pointer-events: auto;
    margin-top: -5px;
}

input[type="range"]::-moz-range-thumb{
    -moz-appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #0d6efd;
    cursor: pointer;
    border-radius: 10px;
    pointer-events: auto;
    margin-top: -5px;
}

input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #0d6efd;
    cursor: pointer;
    border-radius: 50%;
    pointer-events: auto;
    margin-top: -5px;
}

input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #0d6efd;
}

input[type="range"]:active::-moz-range-thumb{
    background-color: #ffffff;
    border: 3px solid #0d6efd;
}

input[type="range"]:active::-ms-thumb{
    background-color: #ffffff;
    border: 3px solid #0d6efd;
}

.slider-track{
    background: linear-gradient();
}

/* SLIDER */

.price-1, .price-2{
    font-size: 14px;
    border: 1px solid #D1D3D4;
    padding: 8px 16px;
    border-radius: .25rem;
}

.price-1 input, .price-2 input{
    border: none;
}

.price-1 input:focus, .price-2 input:focus{
    outline: none;
    box-shadow: none;
}

.owl-one, .owl-one + div{
    z-index: 1;
}

.shadows{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.owl-prev{
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translate(0, -50%);
    margin: 0% !important;
    z-index: 3;
    opacity: .7;
    border-radius: 20rem !important;
    background-color: white !important;
    transition: .4s;
}

.owl-next{
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(0, -50%);
    margin: 0% !important;
    z-index: 3;
    opacity: .7;
    border-radius: 20rem !important;
    background-color: white !important;
    transition: .4s;
}

.owl-next:hover, .owl-prev:hover{
    opacity: 1;
}

.owl-prev i, .owl-next i {
    transform : scale(1.5,1.5); 
    color: #0d6efd;
}

#order-by option{
    font-family: 'Roboto';
}